@font-face {
    font-family: 'Nunito';
    src: url("../assets/fonts/Nunito-Regular.ttf");
}

:root {
    --regular-font: 'Nunito', arial, sans-serif;

    --greyscale-color-dark: #120B11;
    --greyscale-color-grey: #302A2F;
    --greyscale-color-light-grey: #736f72;
    --greyscale-color-white: #eaeaea;
    --color-green: #B9FFB7;
    --color-orange: #FF7535;
    --color-purple: #5E43FF;

    --active-color: var(--color-purple);
    --hyperlink-color: var(--color-purple);
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--regular-font);
    color:var(--greyscale-color-dark);
}

main {
    background: var(--greyscale-color-light-grey);
    padding: 1em
}

header {
    background-color: var(--greyscale-color-grey);
    padding: 1em;
    display: flex;
    align-items: center;
}

ol {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    unicode-bidi: isolate;
}

.charts {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    align-items: center;
}

.charts li {
    --regular-background-radius: 3em;
    --mobile-min-width-chart: 20em;
    --mobile-max-width-chart: 40em;

    background-color: var(--greyscale-color-white);
    padding: 1em;
    border-radius: var(--regular-background-radius);
    width: 40em;
    height: 40em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.charts li section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charts li section h2,
.charts li section p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.charts li section h2 {
    font-size: 2em;
}

.charts li section .charts-description {
    opacity: 70%;
}

.chart {
    height: 100%;
    width: 100%;
    display: block;
    max-height: calc(100% - 4em); /* Adjust for padding and header elements */

}
